@import "../../scss/media.scss";
@import "../../scss/variable.scss";


#productDetials {
    position: relative;
    overflow: hidden;

    .container {
        max-width: 1250px;
        margin: auto;
        padding: 90px 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include md {
            grid-template-columns: 1fr;
        }

        .productDetial_carusel {
            .carousel {
                .css-1l7c0cy {
                    position: relative;
                    height: 100%;
                    width: 100%;
                }

                .carousel_image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    max-width: 500px;
                }
            }
        }

        .productDetial_info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;
            row-gap: 8px;

            .productDetial_title {
                text-transform: capitalize;
                font: 700 30px "Roboto";
                color: #2B3445;
            }

            .productDetial_category {
                text-transform: capitalize;
                font: 500 15px "Roboto";
                color: #2B3445;
            }

            .productDetial_ratings {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;
                color: #2B3445;
                font: 700 14px "Roboto";
            }

            .productDetial_price {
                color: #D23F57;
                font: 700 25px "Roboto";
            }

            .productDetial_btns {
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                gap: 10px;
                margin-bottom: 10px;

                .productDetial_AddToCart_btn {
                    button {
                        color: #fff;
                        background-color: #D23F57;
                        box-shadow: 0px 4px 16px rgba(43, 52, 69, 0.1);
                        border: 0px;
                        font: 700 15px "Roboto";
                        padding: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

            }

            .productDetial_stock {
                text-transform: capitalize;
                font: 700 15px "Roboto";
                color: #2B3445;
                margin-bottom: 10px;

            }

            .productDetial_description {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                row-gap: 5px;
                font: 700 15px "Roboto";
                color: #2B3445;
                margin-bottom: 10px;

                p {
                    font: 500 15px "Roboto";
                    color: #2B3445;
                }
            }

            .productDetial_submitReview_btn {
                button {
                    color: #fff;
                    background-color: #D23F57;
                    box-shadow: 0px 4px 16px rgba(43, 52, 69, 0.1);
                    border: 0px;
                    font: 700 15px "Roboto";
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }



        }
    }

    .productDetial_reviews {
        max-width: 1250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 90px;
        padding: 90px 15px;

        .reviews_heading {
            width: 100%;
            text-align: center;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 22%;
                height: 2px;
                background: rgba(43, 52, 69, 0.5294117647);
                z-index: 1;
                border-radius: 30px;
                left: 50%;
                transform: translate(-50%, 50%);
            }

            h1 {
                font: 900 40px "Roboto";
                color: #2b3445;
            }
        }

        .reviews_grid {
            h1 {
                font: 500 25px "Roboto";
                color: #2b3445;
                width: 100%;
                text-align: center;
            }
        }
    }
}